---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact" pageType="website">
    <article class="mb-16 sm:mb-24">
        
        <section class="prose sm:prose-lg max-w-none">
            <h2 class="mb-8 font-serif text-xl italic sm:text-2xl">Contact Information</h2>
            <ul>
                <li>Barcelona, Spain</li>
                <li><a href="mailto:caascaas@gmail.com">caascaas@gmail.com</a></li>
                <!-- <li>+34 658 028 828</li> -->
                <li><a href="https://linkedin.com/in/christiankarldelhey" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/christiankarldelhey" target="_blank">GitHub</a></li>
                <li><a href="/CV-Christian-Delhey.pdf" target="_blank" download>Download CV</a></li>
            </ul>
        </section>
    </article>
</BaseLayout>
